@font-face {
    font-family: 'Chalk Serif';
    src: url('https://github.com/Nik439/Images/blob/45e356d57928e4a9006eb5295662c17f2590dec8/fonts/ChalkSerif.eot');
    src: url('https://github.com/Nik439/Images/blob/45e356d57928e4a9006eb5295662c17f2590dec8/fonts/ChalkSerif.woff2') format('woff2'),
         url('https://github.com/Nik439/Images/blob/45e356d57928e4a9006eb5295662c17f2590dec8/fonts/ChalkSerif.woff') format('woff'),
         url('https://github.com/Nik439/Images/blob/45e356d57928e4a9006eb5295662c17f2590dec8/fonts/ChalkSerif.ttf')  format('truetype'),
         url('https://github.com/Nik439/Images/blob/45e356d57928e4a9006eb5295662c17f2590dec8/fonts/ChalkSerif.svg#Chalk Serif') format('svg');
}